Lind.InfoExchange.Tests.Load/Service References/OrderProcessor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderProcessorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderProcessorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Lind.InfoExchange.Service.WCF" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderProcessorService_ExecuteAsk_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteAsk" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_ExecuteAsk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteAskResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_ExecuteAsk_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Lind.InfoExchange.Service.WCF" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_UpdateAsk_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAsk" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_UpdateAsk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAskResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_UpdateAsk_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Lind.InfoExchange.Service.WCF" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetQuote_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Lind.InfoExchange.Service.WCF" name="detail" element="q3:FaultException" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetMarketQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketQuote" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetMarketQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderProcessorService_GetMarketQuote_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Lind.InfoExchange.Service.WCF" name="detail" element="q4:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IOrderProcessorService">
    <wsdl:operation name="ExecuteAsk">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderProcessorService/ExecuteAsk" message="tns:IOrderProcessorService_ExecuteAsk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderProcessorService/ExecuteAskResponse" message="tns:IOrderProcessorService_ExecuteAsk_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderProcessorService/ExecuteAskFaultExceptionFault" name="FaultExceptionFault" message="tns:IOrderProcessorService_ExecuteAsk_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAsk">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderProcessorService/UpdateAsk" message="tns:IOrderProcessorService_UpdateAsk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderProcessorService/UpdateAskResponse" message="tns:IOrderProcessorService_UpdateAsk_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderProcessorService/UpdateAskFaultExceptionFault" name="FaultExceptionFault" message="tns:IOrderProcessorService_UpdateAsk_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderProcessorService/GetQuote" message="tns:IOrderProcessorService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderProcessorService/GetQuoteResponse" message="tns:IOrderProcessorService_GetQuote_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderProcessorService/GetQuoteFaultExceptionFault" name="FaultExceptionFault" message="tns:IOrderProcessorService_GetQuote_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderProcessorService/GetMarketQuote" message="tns:IOrderProcessorService_GetMarketQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderProcessorService/GetMarketQuoteResponse" message="tns:IOrderProcessorService_GetMarketQuote_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderProcessorService/GetMarketQuoteFaultExceptionFault" name="FaultExceptionFault" message="tns:IOrderProcessorService_GetMarketQuote_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderProcessorService" type="tns:IOrderProcessorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteAsk">
      <soap:operation soapAction="http://tempuri.org/IOrderProcessorService/ExecuteAsk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAsk">
      <soap:operation soapAction="http://tempuri.org/IOrderProcessorService/UpdateAsk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IOrderProcessorService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMarketQuote">
      <soap:operation soapAction="http://tempuri.org/IOrderProcessorService/GetMarketQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOrderProcessorService" type="tns:IOrderProcessorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderProcessorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ExecuteAsk">
      <soap12:operation soapAction="http://tempuri.org/IOrderProcessorService/ExecuteAsk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap12:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAsk">
      <soap12:operation soapAction="http://tempuri.org/IOrderProcessorService/UpdateAsk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap12:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap12:operation soapAction="http://tempuri.org/IOrderProcessorService/GetQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap12:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMarketQuote">
      <soap12:operation soapAction="http://tempuri.org/IOrderProcessorService/GetMarketQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap12:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderProcessorService">
    <wsdl:port name="BasicHttpBinding_IOrderProcessorService" binding="tns:BasicHttpBinding_IOrderProcessorService">
      <soap:address location="http://localhost:6666/InfoExchange/OrderProcessor" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOrderProcessorService" binding="tns:NetTcpBinding_IOrderProcessorService">
      <soap12:address location="net.tcp://localhost:6667/InfoExchange/OrderProcessor" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6667/InfoExchange/OrderProcessor</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SILVER\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>